#mainContainerHomePage {
  margin: 0px;
  padding: 0px;
  color: black;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f3f6;
}

/* ---------------------------------------Footer---------------------------------------- */
