*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


/* Details page : Tab Gallery */
.container_u{
    /* border: 1px solid red; */
    padding: 10px;
    height: auto;
    display: flex;
    position: relative;
    
    z-index: 1;
}
.gallery_u{
    width: 40%;
    height:90vh;
    /* border: 1px solid black; */
    position: sticky;
    top: 10px;
    display: flex;


}
.details_u{
    width: 60%;
    height: auto;
    /* border: 1px solid black; */
    padding:0px 5px;
    
    
    /* margin: 5px; */
}

.photolist{
    /* border: 1px solid blue; */
    width: 15%;
    height: 100%;
    overflow: scroll;
    
}

.largephoto{
    /* border: 1px solid red; */
    width: 85%;
    height: 100%;
    position: relative;
}
.addtowishlist{
  position:absolute;
  width: 40px;
  height: 40px;

  /* background-color: white; */

 

  top: 10px;
  right:10px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.magni{
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 20px;
    width: 95%;
    height: 400px;
}

.wishlistalert{
    position: absolute;
    top: 0px;
    height: 50px;
    left:0px;
    z-index: 2;
   
    transition: 1s ease-out;
  animation: alert .5s ease-out;
}

@keyframes alert {
    0%   {transform:translateY(-100%) }

    75% {transform: translateY(20%);}
   
    100% {transform:translateY(0%) }
}




/* width */
::-webkit-scrollbar {
    width: 5px;
    

  }
  
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #377ef1; 
    height: 10px;
  }


  /* Rating component */
  

  .ratingparent{
    /* border: 1px solid red; */
    height: 250px;
    margin: 10px;
  }